[project]
	description = ???????? ??????? ??? ??????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yuri Shikanov (dizballanze)
[access "refs/for/refs/*"]
	read = group user/Yuri Shikanov (dizballanze)
	push = group user/Yuri Shikanov (dizballanze)
	label-Code-Review = -2..+2 group user/Yuri Shikanov (dizballanze)
	label-Verified = -1..+1 group user/Yuri Shikanov (dizballanze)
	rebase = group user/Yuri Shikanov (dizballanze)
	removeReviewer = group user/Yuri Shikanov (dizballanze)
	submit = group user/Yuri Shikanov (dizballanze)
[access "refs/heads/*"]
	read = group user/Yuri Shikanov (dizballanze)
	create = group user/Yuri Shikanov (dizballanze)
	push = +force group user/Yuri Shikanov (dizballanze)
	pushMerge = group user/Yuri Shikanov (dizballanze)
[access "refs/tags/*"]
	push = group user/Yuri Shikanov (dizballanze)
	push = +force group user/Yuri Shikanov (dizballanze)
